<div class="card">
    <div class="card-body">

<form [formGroup]="angForm" class="form-group">
    <div class="form-group">
    <label class="col-md-4">Enter First Name</label>
   <input type="text" name="" id="" formControlName="EmployeeFirstName" #EmployeeFirstName>
</div>


<div class="for-group">
   <label class="col-md-4">Enter Last Name</label>
   <input type="text" name="" id="" formControlName="EmployeeLastName" #EmployeeLastName>
</div>

<div class="form-group">
   <label class="col-md-4">Enter Address Name</label>
   <input type="text" name="" id="" formControlName="EmployeeAddress" #EmployeeAddress>
   
</div>

<div class="form-group">
   <label class="col-md-4">Enter Status//full/part(time) Name</label>
   <input type="text" name="" id="" fromControlName="EmployeeStatus" #EmployeeStatus>
</div>

<div class="form-group">
   <button type="submit" class="btn btn-primary" (click) = "addEmp(EmployeeFirstName.value,EmployeeLastName.value,EmployeeAddress.value,EmployeeStatus.value)">Add New Employee</button>
</div>

</form>

</div>

</div>

<!-- <button (click)="addEmp('test','test','test','test')">Add</button> -->