<div class="card">
    <div class="card-body">

<form [formGroup]="angForm" class="form-group">
    <div class="form-group">
    <label class="col-md-4">Enter First Name</label>
   <input type="text" name="" id="" formControlName="EmployeeFirstName" #EmployeeFirstName [(ngModel)] = "employee.EmployeeFirstName"/>
</div>


<div class="for-group">
   <label class="col-md-4">Enter Last Name</label>
   <input type="text" name="" id="" formControlName="EmployeeLastName" #EmployeeLastName [(ngModel)] = "employee.EmployeeLastName"/>
</div>

<div class="form-group">
   <label class="col-md-4">Enter Address Name</label>
   <input type="text" name="" id="" formControlName="EmployeeAddress" #EmployeeAddress [(ngModel)] = "employee.EmployeeAddress"/>
   
</div>

<div class="form-group">
   <label class="col-md-4">Enter Status//full/part(time) Name</label>
   <input type="text" name="" id="" fromControlName="EmployeeStatus" #EmployeeStatus ngModel = "employee.EmployeeStatus"/>
</div>

<div class="form-group">
   <button type="submit" class="btn btn-primary" (click) = "updateEmployee(EmployeeFirstName.value,EmployeeLastName.value,EmployeeAddress.value,'EmployeeStatus.value')">Add New Employee</button>
</div>

</form>

</div>

</div>

<!-- <button (click)="addEmp('test','test','test','test')">Add</button> -->